*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root{
    font-size: 62.5%;
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
}
main{
    height: 100vh;
    background: #996DFF
}
section{
    padding-top: 22.3rem;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}

.caixa1{

    background: #FFFFFF;
    border: .1rem solid #E2E8F0;
    border-radius: 1rem;
    padding: 4.8rem 3.2rem 3.2rem;

    width: 38.4rem;
    height: 45.4rem;
}
.caixa1:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.caixa2{
    background-color: #0F172A;
    border-radius: 1rem;
    padding: 4.8rem 3.2rem 3.2rem;

    width: 38.4rem;
    height: 45.4rem;
}
.caixa2:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.caixa3{
    background: #FFFFFF;
    border: .1rem solid #E2E8F0;
    border-radius: 1rem;
    padding: 4.8rem 3.2rem 3.2rem;

    width: 38.4rem;
    height: 45.4rem;
}
.caixa3:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

p.indicacao{
    font-weight: 600;
    color: #7C3AED;
    font-size: 1.4rem;
}
.classe1{
    display: flex;
    align-items: center;
    gap: 2.8rem;
}
.classificacao1{

    color: #1E293B;
    font-weight: 700;
    font-size: 3.2rem;
    
}

h3.dezenove{
    color: #1E293B;
    font-size: 1.8rem;
    font-weight: 400;
}
strong{
    font-weight: 7s00;
    font-size: 2.4rem;
}
button.assinar{

    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    background: none;

    padding: 1.6rem 2.4rem;

    border: .1rem solid #1E293B;
    border-radius: .4rem;

    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;


    color: #1E293B;

    width: 32.0rem;
    height: 5.6rem;
}
button.assinar:hover{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #1E293B; 
    transform: scale(1.05);
}
.beneficios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    border-top:.1rem solid #E2E8F0;
    display: flex;

    font-size: 1.6rem;
    color: #475569;
    
}
.tres{
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}
.autoatendimento{
    margin-top: 1.6rem;
    display: flex;
    gap: .8rem;
}

.classificacao2{
    color: #F8FAFC;;
    font-weight: 700;
    font-size: 3.2rem;
}

img.maisVantagem{
    display: flex;
    margin: -1.5rem;
    position: absolute; 
}
h3.vintenove{
    color: #F8FAFC;
    font-size: 1.8rem;
    font-weight: 400;
}
button.assinar2{
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    background: #996DFF;;

    padding: 1.6rem 2.4rem;

    border: none;
    border-radius: .4rem;

    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;


    color: #F8FAFC;

    width: 32.0rem;
    height: 5.6rem;
}
button.assinar2:hover{
    cursor: pointer;
    background-color: #7C3AED; 
    transform: scale(1.05);
}
.beneficiosBlack{
    border-top:.1rem solid #334155;
    display: flex;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.6rem;
    color: #CBD5E1;
}

.ilimitados{
    display: flex;
    margin-top: 3.2rem;
    gap: .8rem;
}
.suporte{
    margin-top: 1.6rem;
    display: flex;
    gap: .8rem;
}
.dedicado{
    margin-top: 1.6rem;
    display: flex;
    gap: .8rem;
}
.treinamentos{
    margin-top: 1.6rem;
    display: flex;
    gap: .8rem;
}
.customizadoEspecial{
    display: flex;
    margin-top: 3.2rem;
    gap: .8rem;
}

a:hover{
 transform: scale(1.09); 
}

